
# Output and backup files
output/
__pycache__/app_config.cpython-312.pyc
__pycache__/context_manager.cpython-312.pyc
__pycache__/file_io_utils.cpython-312.pyc
__pycache__/gui_components.cpython-312.pyc
__pycache__/file_io_utils.cpython-312.pyc
__pycache__/gui_components.cpython-312.pyc
